body{
  background-color:#F8F1E5;
}

.card{
  background-color:#FFFFFF;
  border:1px solid #D4A017;
  border-radius:15px;
  box-shadow: #D4A017 1px 1px;
}

.card-title{
  color:#5C3A21;
  font-weight:bold;
}

.card-text{
  color:#333333;
}

.price{
  color:#C96A3D;
  font-weight:bold;
}

.btn-buy{
  background-color:#D4A017;
  color:white;
  border:none;
}

.btn-buy:hover{
  background-color:#C96A3D;
}
.card-img-top {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* This crops the image to fit without squishing it */
    width: 100%;
}
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show exactly 3 lines */
    line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    min-height: 4.5em; /* Ensure even short descriptions take up this much space */
}